<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DATEFORMAT_PATTERN" value="ISO8601, Europe/Moscow" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.example.telegramxbot" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
